@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

body {
  font-family: "Tilt Neon";
  @apply bg-stone-900;
}

/* GENERAL */
.smooth-display {
  animation: smoothDisplayAnimation 2s ease;
}

/* GRID */
@keyframes smoothDisplayAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grid {
  @apply flex flex-col text-slate-300 items-center smooth-display;
  opacity: 1;
}

/* ENVIRONMENT SETUP */
@keyframes notificationAnimation {
  0% {
    transform: scale(0) translateY(50px) rotate(20deg);
    opacity: 0;
  }
  20% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(50px) rotate(-30deg);
    opacity: 0;
  }
}
.env-setup-notification {
  @apply text-center top-[30%] bg-transparent absolute w-full z-50 text-slate-300 text-xl;
  animation: notificationAnimation 4s ease;
}
.env-setup-notification-text {
  @apply shadow-lg mx-auto w-fit shadow-gray-800 rounded-sm p-3 px-4;
  box-shadow: 0 0 3em black;
}

@keyframes dynamiteAnimation {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translateY(0);
  }
  20% {
    /* opacity: 0.7; */
    transform: rotate(-90deg);
  }
  40% {
    transform: rotate(0deg) scale(1.5);
  }
  60% {
    opacity: 1;
    transform: rotate(-90deg) scale(1.5);
  }
  80% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translateY(0) scale(1);
  }
}
/* .dynamite {
  animation: dynamiteAnimation 2s ease-in-out infinite;
  font-size: 22px;
} */

/* SIMULATION */
.simulation-input {
  @apply bg-stone-800 w-[4.5em] px-2 p-1 rounded-sm outline-none focus:border-stone-500 border-2 duration-300 border-stone-700 text-stone-400;
}

.simulation-button {
  @apply w-[7em] p-[3px] border-b-2
  border-x-2 border-stone-600 rounded-b-md hover:text-stone-400 duration-300 hover:border-stone-500 text-stone-500;
}

@keyframes agentStepAnimation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 1;
    transform: translateY(-40%);
  }
  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}


/* TRAINING ANIMATION */
@keyframes letterAnimation {
  0% {
    /* transform: translateY(0); */
  }
  50% {
    transform: translateY(10px);
    letter-spacing: 10px;
  }
  100% {
    /* transform: translateY(-10px); */
  }
}

.letter-animation {
  display: inline-block;
  animation: letterAnimation 1s ease-in-out infinite;
  text-shadow: 0 0 4px #8c837c, 0 0 5px #ab7950, 0 0 5px #4a4336,
    0 0 5px #56504a;
  opacity: 1;
}